body {
  margin: 0;
  font-family: Arial;
  background: #eaf3ff;
}

.page {
  padding: 40px;
  text-align: center;
}

.btn {
  background: #007bff;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.input {
  padding: 10px;
  width: 250px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.flight-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.flight-table th, .flight-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.flight-table th {
  background-color: #e0f0ff;
}
.book-flight {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
.book-flight:hover {
  background-color: #0056b3;
}